*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


.header
{
    position: sticky;
    top: 0;
    background: #1A535C;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.logo
{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.nav ul
{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav ul li a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: 0.3s;
}

.nav ul li a:hover
{
    color: #FFE66D;
}

.shop-btn
{
    text-decoration: none;
    background: #FFE66D;
    color: #1A535C;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.shop-btn:hover
{
    background: #FFB703;
}

.hero
{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/hero1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content h1
{
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p
{
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-btn
{
    text-decoration: none;
    background: #FFE66D;
    color: #1A535C;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.hero-btn:hover
{
    background: #FFB703;
}
.featured-products
{
    padding: 50px 40px;
    text-align: center;
    background: #f8f5f0;
}
.featured-products h2
{
    font-size: 32px;
    margin-bottom: 40px;
    color: #1A535C;
}

.products-grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card
{
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
    transition: 0.3s;
}
.product-card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 1px solid #1a52ec;
}
.product-card img
{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.product-card h3
{
    font-size: 18px;
    margin-bottom: 8px;
    color: #1A535C;
}

.product-card p
{
    color: #FFB703;
    font-weight: bold;
    margin-bottom: 15px;
}
.button-group {
    display: flex;
    gap: 10px;             
    justify-content: center;
    margin-top: 10px;
    width: 100%;           
}
.buy-now-btn 
{
    text-decoration: none;
    background: #FFE66D;   
    color: #1A535C;        
    padding: 8px 15px;     
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    border: 2px solid #FFE66D; 
}
.buy-now-btn:hover 
{
    background: #FFB703;   
    color: #fff;
}
.add-cart-btn
{
    text-decoration: none;
    background: #1A535C;
    color: #FFE66D;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}
.add-cart-btn:hover
{
    background: #FFB703;
    color: #fff;
}

.site-footer {
    background-color: #1A535C; 
    color: #ffffff;
    padding-top: 50px;
    margin-top: 60px; 
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0 50px 30px 50px;
    gap: 30px;
}
.footer-col {
    flex: 1;             
    min-width: 250px;    
}

.footer-col h3 {
    color: #FFE66D;      
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #fff;
    height: 2px;
    width: 50px;
}

.footer-col p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #ddd;       
}


.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #FFE66D;     
    padding-left: 5px;   
}

.social-icons a {
    color: #FFE66D;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #123B41; 
    text-align: center;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
}

.footer-bottom strong {
    color: #FFE66D;
}
